/*
  1. Use a more intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin & padding
  3. Avoid text overflows
*/
* {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}
/*
  4. Allow percentage-based heights in the application
  5. Set smooth scrolling
*/
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
address,
select {
  font: inherit;
}

/* 8. Remove default styling from anchor tags
 */
a {
  text-decoration: none;
  color: inherit;
}

/* 
  9. Remove all animations, transitions and smooth scroll for people that prefer not to see them 
*/
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  text-align: center;
}

h1,
h2 {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

header {
  background-color: hsl(193, 100%, 96%);
  background-image: url(/images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  object-fit: contain;
  padding: 1.4rem 0.9rem 0.9rem 2.15rem;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5.45rem;
}

header > div img {
  width: 6.625rem;
}

header > div a {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 0.5em 2.1em 0.5em 2.1em;
  font-size: 0.6rem;
  font-weight: 700;
}

header > div a:hover {
  color: hsl(208, 11%, 55%);
}

article,
main {
  display: flex;
  flex-direction: column;
}

article {
  gap: 3.4rem;
  width: min(100% - 4.6rem, 48rem);
  margin-inline: auto;
}

article > div p {
  font-size: 1rem;
  margin-block: 1.8rem;
}

:is(article, main) a {
  background-color: hsl(322, 100%, 66%);
  border-radius: 1.6rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  padding-block: 0.8em;
}

:is(article, main) a:hover {
  background-color: hsl(322, 100%, 80%);
}

article a {
  font-size: 0.8rem;
  padding-inline: 3.5em;
}

main a {
  font-size: 0.6rem;
  padding-inline: 2.8em;
}

main {
  gap: 2.5rem;
  padding-block: 3.75rem 7rem;
}

section {
  width: min(100% - 2.5rem, 48rem);
  margin-inline: auto;
  padding: 3.18rem 3.18rem 1.3rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

section h2 {
  margin-block: 1rem;
}

section p {
  color: hsl(208, 11%, 55%);
  font-size: 0.8rem;
}

/*  ==============
    call to action 
    ============== */

main > div {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.3rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  padding: 2.3em 1.25em 2em 1.25em;
  margin-block: 5.3rem -10rem;
  margin-inline: auto;
  width: min(100% - 1.25rem, 25rem);
}

main > div > h2 {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}

footer {
  background-color: hsl(192, 100%, 9%);
  color: hsl(0, 0%, 100%);
  padding: 8.5rem 0.7rem 2.9rem 0.7rem;
}

footer > div {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  text-align: start;
  gap: 3.4rem;
}

ul {
  list-style: none;
}

address ul {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

address > img {
  margin-bottom: 1.7rem;
  width: 10.4rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7463%)
    hue-rotate(183deg) brightness(100%) contrast(104%);
}

nav ul > li {
  margin-bottom: 1.7rem;
}

nav a:hover {
  text-decoration: underline;
}

.brands {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.brands svg {
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.brands svg:hover {
  cursor: pointer;
  color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
}

footer > p {
  font-size: 0.8rem;
}

/*  =======================
    @media tablet landscape
    ======================= */

@media screen and (min-width: 900px) {
  body {
    text-align: left;
  }

  header {
    background-image: url(/images/bg-hero-desktop.svg);
    padding: 1.4rem 4.6rem 2.15rem 4.6rem;
  }

  article,
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    /* width: min(100% - 5rem, 85rem); */
    width: max(100%);
  }

  article {
    gap: 0;
  }

  main {
    padding-inline: 5.3rem;
  }

  section {
    gap: 6rem;
  }

  section:first-of-type > div:first-child {
    order: 1;
  }

  section:last-of-type > div:first-child {
    order: 1;
  }
}
